@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

// Breakpoints

$sm: 768px;
$md: 1024px;
$lg: 1366px;

// Layout

$space: 4px;

//Colours

$white: #fff;
$black: #000;

$gallery: #eee;
$dusty-gray: #999;
$dove-gray: #666;
$mine-shaft: #3d3d3d;

$purple-heart: #5e35b1;
$deep-blue: #280680;
$burnt-sienna: #ef5350;
$vivid-tangerine: #ff867c;
$thunderbird: #b61827;
$medium-purple: #9162e4;
$lima: #20910a;
$monza: #d00023;
